{%  extends "base.html" %}

{% block title %} Lista de naves {% endblock %}

{% block contenido %}  
    <div class="card mt-3   ">
        <div class="card-header">
            <a name="" id="" class="btn btn-success" href="#" role="button">Agregar Nave</a>
            <a name="" id="" class="btn btn-info text-light" href="{% url 'inicio' %}">Cancelar</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Naves Tripuladas</h4>
          <table class="table table-striped">
              <thead>
                  <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Pais</th>
                    <th>Peso</th>
                    <th>Altura</th>
                    <th>Velocidad</th>
                    <th>Capacidad de carga</th>
                    <th>Potencia</th>
                    <th>Fecha</th>
                    <th>Tipo de nave</th>
                    <th>Cantidad de personas</th>
                    <th>Tipo de objetivo</th>
                    <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                {% for navesi in navesitres %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ navesi.id }}</td>
                      <td>{{ navesi.nombreNave }}</td>
                      <td>{{ navesi.paisNave }}</td>
                      <td>{{ navesi.pesoNave }}</td>
                      <td>{{ navesi.alturaNave }}</td>
                      <td>{{ navesi.velocidadNave }}</td>
                      <td>{{ navesi.capacidadNave }}</td>
                      <td>{{ navesi.potenciaNave }}</td>
                      <td>{{ navesi.fecha }}</td>
                      <td>
                        {% if navesi.tipoNave == '1' %}
                            Vehiculo Lanzadera
                        {% elif navesi.tipoNave == '2' %}
                            Naves no tripuladas
                        {% elif navesi.tipoNave == '3' %}
                            Naves tripuladas
                        {%endif%}

                    </td>
                    <td>{{ navesi.cantidadPersonas }}</td>
                      <td>
                        {% if navesi.tipoObjetivo == '1' %}
                              Misiones Lunares
                        {% elif navesi.tipoObjetivo == '2' %}
                            Experimentación y estudio del comportamiento humano
                        {% elif navesi.tipoObjetivo == '3' %}
                            Mantenimiento de satélites
                        {%endif%}

                      </td>
                      <td>
                          <a name="" id="" class="btn btn-primary" href="#" role="button">Editar</a><br><br>

                         <a name="" id="" class="btn btn-danger" href="#" role="button">Eliminar</a>
                        </td> 
                    

                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          

        </div>
    </div>
{% endblock %}